{{> nav/nav-block}}

<section class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
   <p class="tracking-widest text-5xl text-center" id="logo-header">Media Munch</p>
   
  <section class="relative py-3 sm:max-w-xl sm:mx-auto">
   
    <section class="absolute inset-0 bg-gradient-to-r from-purple-400 to-light-purple-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </section>

    <section class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <section class="max-w-md mx-auto">
        
          <div>
            {{#if isloggedin}}
            <p id="user-greeting">Hi, {{user.firstName}}!</p> 
            <p>What would you like to do?</p>
            <a class="btn btn-primary w-full inline-flex justify-center rounded-md border border-transparent shadow-sm m-10 px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm" href="/example">Add a munchie</a>
            <a class="btn btn-primary w-full inline-flex justify-center rounded-md border border-transparent shadow-sm m-10 px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm" href="/my-munchies">See your munchies</a>
            <a class="btn btn-primary w-full inline-flex justify-center rounded-md border border-transparent shadow-sm m-10 px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm" href="/logout">Log out</a>
            </ul>
            {{else}}
            <p class="text-center" id="hey-there">Hey there, stranger!</p>
            <p class="text-center">Please sign in or create an account to continue.</p>
            <button id="loginBtn" class="btn btn-primary w-full inline-flex justify-center rounded-md border border-transparent shadow-sm m-10 px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">
              Sign in</button>
            <button id="registerBtn" class="btn btn-primary w-full inline-flex justify-center rounded-md border border-transparent shadow-sm m-10 px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">
              Create Account
            </button>
            {{/if}}
            <h5 id="login-err-msg"></h5>
          </div>
        </section>
      </section>
    </section>
  </section>

  {{> modal/login-block}}
  {{> modal/register-block}}