{{> nav/nav-block user=false register=true}}
<!-- flex h-screen center-aligns the form horizontally and vertically -->
<!-- bg-indigo-700 adds background color with 100 = lightest shade and 900 = darkest-->
<body class="flex h-screen bg-indigo-700">
  <!-- w-full ensures the section will span the full width of the size setting -->
  <!-- max-w-xs sets the max width to extra small, i.e. 2rem -->
  <!-- m-auto applies margin-auto around each side of the form to center it -->
  <!-- rounded-lg applies increased border radius and p-5 defines even padding around the form -->
  <section class="w-full max-w-xs m-auto bg-indigo-100 rounded-lg p-5">   
    <header>
      <!-- mx-auto sets x-axis margin as auto to ensure the logo is center aligned -->
      <!-- mb-5 sets margin-bottom at 1.25rem -->
      <img class="w-20 mx-auto mb-5" src="" />
    </header>
    <form action="#" method="POST">
      <section>
        <!-- block sets input label to display:block so it displays above the input box -->
        <label class="block mb-2 text-indigo-500" for="username">Username</label>
        <!-- p-2 sets padding at 0.5rem -->
        <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300 rounded" type="text" name="username" placeholder="Username">
      </section>
      <section>
        <label class="block mb-2 text-indigo-500" for="password">Password</label>
        <input class="w-full p-2 mb-6 text-indigo-700 border-b-2 border-indigo-500 outline-none focus:bg-gray-300 rounded" type="password" name="password" placeholder="Password">
      </section>
      <section>          
        <input class="w-full bg-indigo-700 hover:bg-indigo-400 text-white font-bold py-2 px-4 mb-6 rounded" type="submit">
      </section>       
    </form>
    <footer>
      <a class="text-indigo-700 hover:text-indigo-400 text-sm float-left" href="#">Forgot Password?</a>
      <a class="text-indigo-700 hover:text-indigo-400 text-sm float-right" href="#">Create Account</a>
    </footer> 
  </section>
</body>