<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="relative bg-gradient-to-r from-purple-400 to-light-purple-500">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <a class="whitespace-nowrap text-base font-medium text-gray-200 hover:text-gray-900 mt-2 mb-2" href="/"><svg
              class="w-9 h-9 pl-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>Home</a>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- Logo -->
        <div class="ml-3 relative">
          <div
            class="flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
            id="user-menu" aria-expanded="false" aria-haspopup="true">
            <img class="h-16 w-16 rounded-full" src="./assets/images/Munchie.png" alt="Media Munchie Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>